# [submodule "dep/queue"]
# 	path = dep/queue
# 	url = https://github.com/cameron314/readerwriterqueue
[submodule "cudahelpers"]
	path = dep/cudahelpers
	url = https://github.com/gravitino/cudahelpers
[submodule "cub"]
	path = dep/cub
	url = https://github.com/NVlabs/cub.git
[submodule "warpcore"]
	path = dep/warpcore
	url = https://github.com/sleeepyjack/warpcore
# TODO warpcore submodules: cudahelpers & cub
[submodule "dep/bb_segsort"]
	path = dep/bb_segsort
	url = https://github.com/Funatiq/bb_segsort
