*.exe
*.db
*.meta
*.cache*
*.query
*.json
*.fa
*.fna
*.fq
*.gz
*.fnq
*.out
*.o
*.zip
/build_*
/db
/db_info
/genomes
/debug
/release
/seafile
/analysis
/results
/.settings
/dev/html
/test/results
/test/data
/test/taxonomy
/test/build_*
!/test/*.gz
.project
.cproject
.vscode
.pydevproject
.tasks
metacache
metacache_*
