/build_*
/db
/db_info
/genomes
/debug  
/release
/seafile
/test
/.settings
/dev/html
.project
.cproject
*.exe
*.db
*.query
*.json
*.fa
*.fna
*.fq
*.fnq
*.out
*.o
*.zip
metacache
metacache_debug
metacache.exe
metacache_debug.exe
