/build_*
/debug  
/release
/.settings
/experiments
/results
/genomes/
/benchmark
/dev
/literature
/kraken
/kmers
.cproject
.project
*.exe
*.db
*.query
*.json
*.fa
*.fna
*.out
*.o
*.zip
metacache
metacache.exe
/random_keys.txt
