# [submodule "dep/queue"]
# 	path = dep/queue
# 	url = https://github.com/cameron314/readerwriterqueue
[submodule "dep/bb_segsort"]
	path = dep/bb_segsort
	url = https://github.com/Funatiq/bb_segsort
[submodule "dep/warpcore"]
	path = dep/warpcore
	url = git@gitlab.rlp.net:pararch/warpcore.git
# [submodule "dep/hpc_helpers"]
# 	path = dep/hpc_helpers
# 	url = https://gitlab.rlp.net/pararch/hpc_helpers
